<div class="footer-write-new-message">
    <div>
        <textarea class="textarea" [(ngModel)]="answertext" id="answertext" placeholder="Antworten..." (keyup.enter)="sendAnswer()"></textarea>
    </div>
    <div class="footer-line-icons">
        <div class="footer-icons-left">
            <label for="fileUploadThread" class="upload">
                <mat-icon (click)="openFileUpload()">add</mat-icon>
            </label>
            <input type="file" id="fileUploadThread" style="display:none;" (change)="uploadFiles($event)">
            <div class="seperator-vert"></div>
            <div class="emoji-footer-container" (mouseleave)="closeEmojiFooter()">
                <div class="emoji-footer-selection" *ngIf="isAnswertextEmojiOpen">
                  <app-emoji-picker (emojiSelect)="addEmojiToMessage($event); toggleEmojiAnswer()"></app-emoji-picker>
                </div>
                <mat-icon (click)="toggleEmojiAnswer()">mood</mat-icon>
              </div>
            <mat-icon>alternate_email</mat-icon>
        </div>
        <div class="image-preview-overlay" *ngIf="fileToUpload">
            <a class="uploaded-files" *ngIf="fileToUpload.type !== 'application/pdf'" target="_blank" [href]="imagePreview">
                <img class="uploaded-files" [src]="imagePreview">
            </a>
            <a class="uploaded-files" *ngIf="fileToUpload.type === 'application/pdf'" target="_blank" [href]="imagePreview">
                <img class="uploaded-files" src="./assets/img/pdf-icon.png">
            </a>
            <mat-icon (click)="deleteFileUpload()">cancel</mat-icon>
        </div>
        <div class="footer-icons-right">
            <mat-icon title="channel" (click)="sendAnswer()">send_icon</mat-icon>
        </div>
    </div>
</div>
