<!-- <div class="main-container">
    <div class="header-container">
        <header class="channel-chat-header"> -->
            <input type="text" placeholder="An: #channel oder @jemanden" id="searchInput" [(ngModel)]="main.searchChannel"
                (input)="main.search()" maxlength="20" autocomplete="on">
        <!-- </header>
    </div>     
    <div class="footer-write-new-message"> 
        <div> -->
            <!-- <textarea class="textarea" [placeholder]="channelDataService.channelName ? 'Nachricht an #' + channelDataService.channelName : 'Starte eine neue Nachricht'"
                [(ngModel)]="messagetext" (ngModelChange)="onMessageChange()" (keyup.enter)="handleEnterKey()"  cols="20" rows="5" maxlength="150">
            </textarea>
        </div>
        <div class="footer-line-icons">
            <div class="footer-icons-left">
                <label for="fileUpload" class="uplo
                    <mat-icon (click)="openFileUpload()">add</mat-icon>
                </label>
                <input type="file" id="fileUpload" style="display:none;" (change)="uploadFiles($event)">
                <div class="seperator-vert"></div>
                <div class="emoji-footer-container" (mouseleave)="closeEmojiFooter()">
                    <div class="emoji-footer-selection" *ngIf="isShowEmojiFooter">
                        <app-emoji-picker
                            (emojiSelect)="addEmojiToMessage($event); toggleEmojiFooter()"></app-emoji-picker>
                    </div>
                    <mat-icon (click)="toggleEmojiFooter()">mood</mat-icon>
                </div>
                <mat-icon (click)="toggleShowChannelMembersFooter()">alternate_email</mat-icon>
                <div *ngIf="isShowChannelMembersFooter" class="current-channel-member-footer-container"
                    (mouseleave)="closeShowChannelMembersFooter()">
                    <div class="current-channel-member-footer-list" (click)="addChannelMemberToMessageText(user)"
                        *ngFor="let user of usersData">
                        <span>&#64; {{ user.firstname }} {{ user.lastname }}</span>
                    </div>
                </div>
            </div>
            <div class="footer-icons-right">
                <button class="add-btn" mat-icon-button [disabled]="isButtonDisabled" (click)="addMessage()">
                    <mat-icon
                        [ngStyle]="{'color': isButtonDisabled ? 'lightgrey' : '#444DF2', 'cursor': isButtonDisabled ? 'default' : 'pointer'}">send_icon</mat-icon>
                </button>
            </div>
        </div>
        <div class="image-preview-overlay" *ngIf="fileToUpload">
            <a class="uploaded-files-preview" *ngIf="fileToUpload.type !== 'application/pdf'" target="_blank"
                [href]="imagePreview">
                <img class="uploaded-files-preview" [src]="imagePreview">
            </a>
            <a class="uploaded-files-preview" *ngIf="fileToUpload.type === 'application/pdf'" target="_blank"
                [href]="imagePreview">
                <img class="uploaded-files-preview" src="./assets/img/pdf-icon.png">
            </a>
            <mat-icon (click)="deleteFileUpload()">cancel</mat-icon>
        </div> -->
    <!-- </div>
</div> -->

