

    .threadContainerAnswer{
        width: calc(100% - 80px);
        padding: 10px 40px 10px 40px;
        margin-top: 18px;                
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        position: relative;
        overflow: hidden;
        

        &:hover{
            background-color:#ECEEFE;

            .threadContainerTextLeft{
                background-color: white;
            }

            .reactionContainer{
                display: flex !important;
                animation: slidein 0.1s ease-in-out forwards;                       
            }

            .answerFromRight{                    
                background-color: #797EF3 !important;                    
            }
        }

        .threadContainerAnswerContainer{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 8px;
            position: relative;

            .threadContainerAnswerInfo{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;                    
            }
        }
    }

    .threadContainerAnswerReverse{
        flex-direction: row-reverse !important;            
    }

    .threadHoverRight{
        background-color: #797EF3;
    }
     