<div class="main-container">
    <header class="channel-chat-header">
        <div class="header-left">
           <span> # Entwicklerteam </span><img src="../../../assets/img/keyboard_arrow_down.png" alt="">
        </div>
        <div class="header-right">
            <div class="all-avatar-channel-members">
                <img src="../../../assets/img/avatarFrederick.png" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="counter-channel-members">3</div>
            <img src="../../../assets/img/person_add.png" alt="">
        </div>
    </header>
</div>