<div class="main-container">
    <header class="channel-chat-header">
        <div class="header-left">
            # Entwicklerteam <img src="" alt="">
        </div>
        <div class="header-right">
            <div class="alle-avatar-channel-members">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="counter-channel-members">3</div>
            <img class="add-member-icon" src="" alt="">
        </div>
    </header>
</div>