<div class="main-container">
    
    <div class="header-container">
        <header class="channel-chat-header">
            <div class="header-left" (click)="editChannelOpen = true; openPopup()">
                <span> <span class="hashtag">#</span> {{ this.channelDataService.channelName }} <img
                        src="../../../assets/img/keyboard_arrow_down.png" alt=""></span>
            </div>
            <div class="header-right">
                <div class="all-avatar-channel-members" (click)="showMembersOpen = true; openPopup()">
                    <div *ngFor="let user of this.channelDataService.channelUsers ">
                        <span class="profile">
                            <img [src]="getProfileImagePath(user)" />
                            <p class="active-point" *ngIf="user.isOnline == true"></p>
                          </span>
                    </div>
                    <div class="counter-channel-members">{{  this.channelDataService.channelUsers.length }}</div>
                </div>

                <div class="person-add-icon-container">
                    <img src="../../../assets/img/person_add.png" alt="" (click)="addUSerOpen = true; openPopup()">
                </div>
            </div>
        </header>
    </div>

    <div class="channel-chat-container">
        <div *ngFor="let chat of chats; let chatIndex = index">
            <div class="seperator"></div>
            <div class="date-incoming-message">
                <span class="fs-18">{{ chat.date }}</span>
            </div>

            <div class="new-message-somebody-container" (mouseenter)="toggleAnimationState('visible', chatIndex)"
                (mouseleave)="toggleAnimationState('hidden', chatIndex)">
                <div>
                    <img [src]="chat.avatar" alt="">
                </div>
                <div>
                    <div class="name-and-time-container">
                        <div class="reaction-menu-message right-0" [@slideAndFade]="chat.animationState">
                        
                            <div *ngIf="chat.reactionMenu.selectedEmojis && chat.reactionMenu.selectedEmojis.length > 0">
                                <div class="last-emoji">{{getEmojiPath(chat, 0)}}</div>
                            </div>
                            <div *ngIf="chat.reactionMenu.selectedEmojis.length > 1">
                                <div class="last-emoji">{{getEmojiPath(chat, 1)}}</div>
                            </div>
                        
                            <div class="emoji-container">
                                <img (click)="toggleEmoji($event, chatIndex)" [src]="chat.reactionMenu.addReaction" alt="">
                                <div *ngIf="chat.reactionMenu.isEmojiOpen" class="emoji-selection">
                                    <emoji-mart 
                                    class="emoji-mart"
                                    [style]="{ width: '240px', cursor: 'default' }"
                                    (emojiSelect)="emojiSelected($event, chatIndex)"
                                    color = #535AF1
                                    set = "apple"
                                    [enableSearch] = "false"
                                    [showPreview] = "false"
                                    title="Choose your emoji">
                                    </emoji-mart>
                                </div>
                            </div>
                            <div>
                                <img [src]="chat.reactionMenu.answer" alt="">
                            </div>
                        </div>

                        <span class="writing-name fs-18 fw-700">{{ chat.userName }}</span>
                        <div class="sending-time fs-14 fw-400">{{ chat.sendingTime }}</div>
                    </div>
                    <div class="message-somebody fs-18 fw-400">{{ chat.messageContent }}</div>
                    <div class="answer-container">
                        <div *ngIf='chat.answerInfo.counter > 0' class="counter-answers fs-18 fw-400">{{ chat.answerInfo.counter }} Antworten</div>
                        <div class="last-answer-time fs-14 fw-400">{{ chat.answerInfo.lastAnswerTime }}</div>
                        <div class="reactions" *ngIf="chat.answerInfo.counter == 0">
                            <img (click)="toggleEmoji($event, chatIndex)" [src]="chat.reactionMenu.addReaction" alt="">
                            <ng-container *ngIf="chat.reactionMenu.selectedEmojis && chat.reactionMenu.selectedEmojis.length > 0">
                                <div class="single-emoji" *ngFor="let selectedEmoji of getUniqueEmojis(chat.reactionMenu.selectedEmojis)">
                                    {{ selectedEmoji }}{{ getEmojiCount(chat.reactionMenu.selectedEmojis, selectedEmoji) > 1 ? ' ' + getEmojiCount(chat.reactionMenu.selectedEmojis, selectedEmoji) : '' }}
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- currentUser -->
        <!-- <div class="new-message-avatar-main-div" *ngIf="isCurrentUser(userID)">
            <div class="seperator"></div>
            <div class="date-incoming-message">
                <span class="fs-18">Heute</span>
            </div>
            <div class="new-message-avatar-container" (mouseenter)="toggleAnimationState1('visible')"
                (mouseleave)="toggleAnimationState1('hidden')">
                <div>
                    <img class='current-user-image'src="../../../assets/img/{{ user.profileImg }}" alt="">
                </div>
                <div>
                    <div class="name-and-time-container">
                        <div class="reaction-menu-message left-0" [@slideAndFadeLeft]="animationState1">
                            <div>
                                <img src="../../../assets/img/emoji1.png" alt="">
                            </div>
                            <div>
                                <img src="../../../assets/img/hands-up.png" alt="">
                            </div>
                            <div class="emoji-container">
                                <img (click)="toggleEmoji($event, chatIndex)" src="../../../assets/img/add_reaction.png" alt="">
                                <div *ngIf="chat.reactionMenu.isEmojiOpen" class="emoji-selection">
                                    <emoji-mart 
                                    class="emoji-mart"
                                    [style]="{ width: '240px' }"
                                    (emojiSelect)="emojiSelected($event)"
                                    color = #535AF1
                                    set = "apple"
                                    [enableSearch] = "false"
                                    [showPreview] = "false"
                                    title="Choose your emoji">
                                    </emoji-mart>
                                </div>
                            </div>
                            <div>
                                <img src="../../../assets/img/Answer.png" alt="">
                            </div>
                            <div>
                                <mat-icon>more_vert</mat-icon>
                            </div>

                        </div>
                        <div class="sending-time fs-14 fw-400">14.25 Uhr</div>
                        <span class="writing-name fs-18 fw-700">{{user.firstname}} {{user.lastname}}</span>
                    </div>

                    <div class="message-avatar fs-18 fw-400">Ja, wirklich der Wahnsinn!</div>
                    <div *ngFor="let reaction of reactions; let i = index" class="reaction-icons-container">

                        <div class="reaction-smiley hover-function">
                            <img class="normal-img" src="../../../assets/img/add_reaction.png">
                            <img class="hover-img" src="../../../assets/img/add_reaction_hover.png">
                        </div>
                        <div class="reactions-to-message-maincontainer">
                            <div class="who-reacted-to-message-container" *ngIf="showContainer[0]">
                                <img src="../../../assets/img/emoji1.png" alt="">
                                <span class="fs-18 fw-700">{{ reaction.users }}</span>
                                <span>hat reagiert</span>
                            </div>
                            <div class="added-reaction-container" (mouseover)="showReaction(0)"
                                (mouseout)="hideReaction(0)">
                                <img src="../../../assets/img/emoji1.png" alt="">
                                <div class="counter-single-reaction">{{ reaction.count }}</div>
                            </div>
                        </div>

                        <div class="reactions-to-message-maincontainer">
                            <div class="who-reacted-to-message-container" *ngIf="showContainer[1]">
                                <img src="../../../assets/img/emoji2.png" alt="">
                                <span class="fs-18 fw-700">{{ reaction.users }}</span>
                                <span>hat reagiert</span>
                            </div>
                            <div class="added-reaction-container" (mouseover)="showReaction(1)"
                                (mouseout)="hideReaction(1)">
                                <img src="../../../assets/img/emoji2.png" alt="">
                                <div class="counter-single-reaction">{{ reaction.count }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <div class="footer-write-new-message">
        <div>
            <Textarea class="textarea" placeholder="Nachricht an # {{ this.channelDataService.channelName }}"></Textarea>
        </div>
        <div class="footer-line-icons">
            <div class="footer-icons-left">
                <mat-icon>add</mat-icon>
                <div class="seperator-vert"></div>
                <mat-icon>mood</mat-icon>
                <mat-icon>alternate_email</mat-icon>
            </div>
            <div class="footer-icons-right">
                <mat-icon>send_icon</mat-icon>
            </div>
        </div>
    </div>
</div>

<!---------------------------------------------- POPUPS ---------------------------------------------->


<div class="popup-background" *ngIf="addUSerOpen" (click)="addUSerOpen = false; closePopup()">
    <div class="popup-maincontainer smallPopup addUserPopup" (click)="doNotClose($event)">
        <div class="headline-container">
            <span class="fw-700">Leute hinzufügen</span>
            <div class="close-icon-container" (click)="addUSerOpen = false; closePopup()">
                <mat-icon>close</mat-icon>
            </div>
        </div>
        <div class="fw-400 fs-18 channel-container">
            <div>#</div><span> {{ this.channelDataService.channelName }}</span>
        </div>
        <div>
            <!-- User filter function -->
            <div class="user-selection-container mrgn-bt-25">
                <div class="selected-users-container">
                  <div class="selected-users" *ngFor="let user of selectedUsers">
                    <span class="profile">
                      <img [src]="getProfileImagePath(user)" />
                    </span>
                    {{ user.firstname + " " + user.lastname }}
                    <span (click)="removeUser(user)"><mat-icon>close</mat-icon></span>
                  </div>
                  <div class="relative">
                    <input
                      placeholder="Name eingeben"
                      type="text"
                      class="channel-create-input channel-create-description-input"
                      (input)="onSearchInputChange($event)"
                      [(ngModel)]="searchQuery"
                    />
                    <div
                      class="contacts-list-pop-up"
                      *ngIf="searchQuery.trim()"
                    >
                      <div class="contacts-list">
                        <div
                          *ngFor="let user of filterUsers()"
                          (click)="selectUser(user)"
                        >
                          <span class="profile">
                            <img [src]="getProfileImagePath(user)" />
                            <p class="active-point" *ngIf="user.isOnline == true"></p>
                          </span>
                          <span>{{ user.firstname }} {{ user.lastname }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>   
        </div>
        <div class="btn-container">
            <button class="btn fw-700 fs-18" [class.enabled]="enabled">Hinzufügen</button>
        </div>
    </div>
</div>


<div class="popup-background" *ngIf="showMembersOpen" (click)="showMembersOpen = false; closePopup()">
    <div class="popup-maincontainer smallPopup showMembersPopup" (click)="doNotClose($event)">
        <div class="headline-container">
            <span class="fw-700">Mitglieder</span>
            <div class="close-icon-container" (click)="showMembersOpen = false; closePopup()">
                <mat-icon>close</mat-icon>
            </div>
        </div>

        <div class="current-channel-member-list">
            <div class="member-list-div" (click)="showProfil = true; openPopup()" *ngFor="let user of this.channelDataService.channelUsers">
                <span class="profile">
                    <img [src]="getProfileImagePath(user)" />
                    <p class="active-point" *ngIf="user.isOnline == true"></p>
                  </span>
                  <span>{{ user.firstname }} {{ user.lastname }}</span>
            </div>
            <div class="add-person-container fs-18" (click)="addUSerOpen = true; showMembersOpen = false; openPopup()">
                <div class="add-person-img-container">
                    <img src="../../../assets/img/person_add.png" alt="">
                </div>
                <span>Mitglieder hinzufügen</span>
            </div>
        </div>
    </div>
</div>


<div class="popup-background profile-background" *ngIf="showProfil" (click)="showProfil = false; closePopup()">
    <div class="profile-popup" (click)="doNotClose($event)">
        <div class="headline-container">
            <span class="fw-700">Profil</span>
            <div class="close-icon-container" (click)="showProfil = false;">
                <mat-icon>close</mat-icon>
            </div>
        </div>

        <div class="profil-detail-view">
            <div class="profile-img-big-container">
                <img src="../../../assets/img/noah-big-avatar.png" alt="">
            </div>
            <div class="profile-info-container">
                <span class="profile-name">Noah Braun</span>
                <div class="activ-sign">
                    <img src="../../../assets/img/online.png" alt="">
                    <span class="activ-txt">Aktiv</span>
                    <!-- <img src="" alt="">
                    <span>Abwesend</span> -->
                </div>
                <div class="profile-mail-container">
                    <div class="mail-description">
                        <img src="../../../assets/img/mail.png" alt="">
                        <span>E-Mail-Adresse</span>
                    </div>
                    <div class="mail-container">
                        noah.braun&#64;topmail.com
                    </div>
                </div>
            </div>
            <div class="message-btn-container">
                <button class="btn enabled send-message-btn">
                    <img src="../../../assets/img/mode_comment.png" alt="">
                    <span>Nachricht</span>
                </button>
            </div>

        </div>
    </div>
</div>


<div class="popup-background" *ngIf="editChannelOpen" (click)="editChannelOpen = false; closePopup()">
    <div class="popup-maincontainer bigPopup editChannelPopup" (click)="doNotClose($event)">
        <div class="headline-container">
            <span class="fw-700"><span>#</span><span> {{  this.channelDataService.channelName }}</span></span>
            <div class="close-icon-container" (click)="editChannelOpen = false; closePopup()">
                <mat-icon>close</mat-icon>
            </div>
        </div>


        <div class="edit-maincontainer">
            <div class="edit-channel-name-container" [@removeBorder]="channelNameChange">
                <div class="subline-edit-channel">
                    <span class="fw-700">Channel-Name</span>
                    <span class="edit-btn" *ngIf="!channelNameChange"
                        (click)="channelNameChange = true">Bearbeiten</span>
                    <span class="edit-btn" *ngIf="channelNameChange"
                        (click)="channelNameChange = false; saveNewChannelName()">Speichern</span>
                </div>
                <div class="channel-name-container" *ngIf="!channelNameChange">
                    <div class="fw-700">#</div> <span class="channel-name"> {{ this.channelDataService.channelName }}</span>
                </div>
                <div>
                    <input type="text"  [(ngModel)]="newChannelName"  autofocus placeholder="{{  this.channelDataService.channelName }}" *ngIf="channelNameChange"
                        class="input-change-channel-name">
                </div>
            </div>


            <div class="edit-channel-description-container" [@removeBorder]="channelDescriptionChange">
                <div class="subline-edit-channel">
                    <span class="fw-700">Beschreibung</span>
                    <span class="edit-btn" *ngIf="!channelDescriptionChange"
                        (click)="channelDescriptionChange = true">Bearbeiten</span>
                    <span class="edit-btn" *ngIf="channelDescriptionChange"
                        (click)="channelDescriptionChange = false; saveNewDescription()" >Speichern</span>
                </div>
                <div class="channel-description">
                    <span class="channel-description-text" *ngIf="!channelDescriptionChange">{{  this.channelDataService.channelDescription }}</span>
                    <input type="text"  [(ngModel)]="newChannelDescription"  autofocus *ngIf="channelDescriptionChange" placeholder="Dein Text hier">
                    <div class="seperator"></div>
                    <span class="fw-700">Erstellt von</span>
                    <div class="edited-by-name">{{ this.channelDataService.channelCreator }}</div>
                </div>
            </div>
        </div>

        <div class="btn-container">
            <button class="btn enabled">Channel verlassen</button>
        </div>

    </div>
</div>

