.login-container {
    background: #797EF3;
    height: 100vh;
    animation: backgroundAnimation 2s ease-in-out 800ms forwards;
    z-index: 2;
    position: relative;
    .login-animation {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: logoContainerAnimation 1000ms ease-in-out 1500ms forwards;
        z-index: 2;
        img {
            width: 150px;
            animation: logoAnimation 2500ms ease-in-out 800ms forwards;
        }
        p {
            color: white;
            position: absolute;
            font-size: 2.5rem;
            opacity: 0;
            white-space: nowrap;
            animation: nameAnimation 2500ms ease-in-out 800ms forwards;
            margin-left: 50px;
        }
    }
    @keyframes backgroundAnimation {
        from {
            background-color: #797EF3
        }
        to {
            background-color: #ECEEFE; 
            z-index: 0;
        }
    }
    @keyframes logoAnimation {
        0% {
            transform: translateX(0);
        }

        40% {
            transform: translateX(-70px);
            width: 150px;
        }

        70% {
            transform: translateX(-70px);
            width: 100px;
        }

        100% {
            width: 100px;
            transform: translateX(-70px);
        }
    }
    @keyframes logoContainerAnimation {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        100% {
            top: 100px;
            left: 190px;
        }
    }
    @keyframes nameAnimation {
        0% {
            transform: translateX(0px);
        }

        40% {
            transform: translateX(90px);
            opacity: 0.3;
            font-size: 2.5rem;
        }

        60% {
            transform: translateX(30px);
            opacity: 1;
            color: white;
            font-size: 1.5rem;
        }

        75% {
            transform: translateX(30px);
            opacity: 1;
            font-size: 1.5rem;
            color: black;
        }

        100% {
            transform: translateX(30px);
            opacity: 1;
            font-size: 1.5rem;
            color: black;
        }
    }
}

@media  (max-width: 750px) {
    .login-animation img {
        width: 80px !important;
    }
    p {
        margin-left: 0 !important;
        font-size: 18px !important;
        animation: nameAnimationResponsiv 2500ms ease-in-out 800ms forwards !important;
    }
    @keyframes nameAnimationResponsiv {
        0% {
            transform: translateX(0px);
        }

        40% {
            transform: translateX(30px);
            opacity: 0.3;
            font-size: 2.5rem;
        }

        60% {
            transform: translateX(30px);
            opacity: 1;
            color: white;
            font-size: 1.5rem;
        }

        75% {
            transform: translateX(30px);
            opacity: 1;
            font-size: 1.5rem;
            color: black;
        }

        100% {
            transform: translateX(30px);
            opacity: 1;
            font-size: 1.5rem;
            color: black;
        }
    }
   
}

@media (max-width: 450px) {
    .login-animation img {
        width: 40px !important;
    }
    p {
        animation: nameAnimationResponsivSmall 2500ms ease-in-out 800ms forwards !important;
    }
    @keyframes nameAnimationResponsivSmall {
        0% {
            transform: translateX(0px);
        }

        40% {
            transform: translateX(10px);
            opacity: 0.3;
            font-size: 2.5rem;
        }

        60% {
            transform: translateX(10px);
            opacity: 1;
            color: white;
            font-size: 1.5rem;
        }

        75% {
            transform: translateX(10px);
            opacity: 1;
            font-size: 1.5rem;
            color: black;
        }

        100% {
            transform: translateX(10px);
            opacity: 1;
            font-size: 1.5rem;
            color: black;
        }
    }
}

@media (max-height: 896px) {
    .login-animation {
        animation: logoContainerAnimationResponsiv 1000ms ease-in-out 1500ms forwards !important;
       
    }
    @keyframes logoContainerAnimationResponsiv {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        100% {
            top: 40px;
            left: 160px;
        }
    }
}

// @media (max-height: 740px) {
//     .login-animation {
//         animation: logoContainerAnimationResponsivSmall 1000ms ease-in-out 1500ms;
//         @keyframes logoContainerAnimationResponsiv {
//             0% {
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//                 opacity: 1;
//             }
//             100% {
//                 top: 40px;
//                 left: 160px;
//                 opacity: 0;
//             }
//         }
//     }
// }