<form class="signup" [formGroup]="signUpForm" (ngSubmit)="signUpUser()">
    <div class="signup-header">
        <mat-icon (click)="toggleSignup()">arrow_back</mat-icon>
        <h2>Konto erstellen</h2>
    </div>
    <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>

    <div class="input-container">
        <input formControlName="firstname" type="text" maxlength="15"  name="firstname" placeholder="Vorname" pattern="[A-Za-zÄäÖöÜüß\s]+"
        [class.red-border]="signUpForm.get('firstname')?.invalid && signUpForm.get('firstname')?.touched" required>
        <mat-icon>person_outline</mat-icon>
        <p *ngIf="signUpForm.get('firstname')?.invalid && signUpForm.get('firstname')?.touched">Bitte geben Sie einen Vornamen ein.</p>
    </div>

    <div class="input-container">
        <input formControlName="lastname" type="text" maxlength="15" name="lastname" placeholder="Nachname" pattern="[A-Za-zÄäÖöÜüß\s]+"
        [class.red-border]="signUpForm.get('lastname')?.invalid && signUpForm.get('lastname')?.touched" required>
        <mat-icon>person_outline</mat-icon>
        <p *ngIf="signUpForm.get('lastname')?.invalid && signUpForm.get('lastname')?.touched">Bitte geben Sie einen Nachnamen ein.</p>
    </div>

    <div class="input-container">
        <input formControlName="email" type="email" name="email" maxlength="25" placeholder="beispielname@email.com"
        [class.red-border]="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched" required>
        <mat-icon>mail_outline</mat-icon>
        <p *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">Diese E-Mail-Adresse ist leider ungültig.</p>
    </div>

    <div class="input-container">
        <input formControlName="password" type="password" name="password" maxlength="20" placeholder="Passwort ( Aa, 0-9, @$!%*#?&-)"
        [class.red-border]="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched" required>
        <mat-icon>lock_outline</mat-icon>
        <p *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">Passwort: mind. 8 Zeichen, 1 Großbuchstabe, 1 Zahl, 1 Sonderzeichen.</p>

    </div>

    <div class="checkbox-privacy-policy">
        <div class="checkbox-text">
            <div class="checkbox" (click)="toggleChecked()">
                <div [class.checkbox-selected]="isChecked" #checkboxSelector></div>
            </div>
            <span class="text-imprint" (click)="toggleChecked()">
                <span>Ich stimme der
                    <a (click)="openPrivacy.emit()">Datenschutzerklärung</a>
                    <br *ngIf="shouldWordBreak">zu.
                </span>
            </span>
        </div>
    </div>

    <button [disabled]="signUpForm.invalid && !isChecked" [class.disabled-btn]="signUpForm.invalid || !isChecked" class="next-btn" type="submit">Weiter</button>
    
    <div class="data-proteccion">
        <a (click)="openImprint.emit()">Impressum</a>
        <a (click)="openPrivacy.emit()">Datenschutz</a>
    </div>

    <div *ngIf="userAlreadyExists" class="confirm-container">
        <p class="confirm-text">Du bist bereits registriert. Hier geht es zur
            <a (click)="openLogin.emit()">Anmeldung</a>
        </p>
    </div> 
</form>


