<p>workspace works!</p>

<div class="workspace-container">

  <div class="server-container">
    <div class="server-logo-name">
      <img src="./assets/img/workspace_logo.png" />
      <h4>Code learning</h4>
    </div>
    <img class="server-edit-icon" src="./assets/img/edit_square.png" />
  </div>

  <div>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Channels
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p> # Entwicklungen</p>
        </mat-expansion-panel>
      </mat-accordion>
  </div>

</div>
