.workspace-container {
    background-color: white;
    padding: 32px 30px;
    border-radius: 30px;
}

.server-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.server-logo-name {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 24px;
    font-weight: 700;
}

.direct-message-icon {
    cursor: pointer;
    padding: 8px;
    margin-right: -10px;
    border-radius: 50%;
    
    &:hover {
        background-color: #ECEEFE;
        
        .normal-img {
            display: none;
        }
        
        .hover-img {
            display: block;
            padding-bottom: 3px;
        }
    }
}

.hover-img {
    display: none;
}

.channels-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

mat-expansion-panel {
    box-shadow: none !important;
}

mat-expansion-panel-header {
    padding: 0 5px;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background: none;
}

.channels-title {
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.channels-title-hover {

    :hover {
        color: #535AF1;

        .normal-img {
            display: none;
        }

        .hover-img {
            display: block;
        }
    }
}

.channels-list {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
}

.hashtag {
    font-size: 23px;
    font-weight: 600;
}

.channels-name {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    padding: 10px 25px;
    border-radius: 35px;
    cursor: pointer;
    
    &:hover {
        background-color: #ECEEFE !important;
        
        .hashtag {
            color: #535AF1;
        }
    }
}

.channels-add {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    margin: 30px 0 15px 20px;
    cursor: pointer;
    
    span {
        margin-left: -5px;
    }
}

.channels-add-hover {
    
    :hover {
        color: #535AF1;
    }
}

.channels-add-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: -5px;
    font-size: 30px;
    padding: 5px;
    border-radius: 100%;

    &:hover {
        background-color: #ECEEFE;
        color: #535AF1;
    }
}

.contacts-list {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    
    div {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
        padding: 5px 25px;
        border-radius: 35px;
        cursor: pointer;

        &:hover {
            background-color: #ECEEFE !important;
        }
    }
}
    
    .profile {
        border-radius: 100%;
        object-fit: cover;
        position: relative;
        img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            object-fit: cover;
        }
        .active-point {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0;
            border: 2px solid white;
        }
    }

.direct-message-title {

    img {
        margin-left: -5px;
        margin-right: 5px;
    }
}

.selected {
    background-color: #ECEEFE !important;
    font-weight: 600;
    color: #535AF1;
}

.channel-create-window {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.channel-create-container {
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    font-size: 18px;
    min-width: 600px;
}

.channel-create-title {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

.channels-create-close {
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;

    &:hover {
        background-color: #ECEEFE;
        color: #444DF2;
    }
}

.mrgn-bt-25 {
    margin-bottom: 25px;
}

.channel-create-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 18px;

    input, button {
        cursor: pointer;
    }

    button:disabled {
        background-color: #686868;
    }
}

.fnt-wt-700 {
    font-weight: 700;
}

.fnt-wt-400 {
    font-weight: 400;
}

.gray {
    color: #686868;
}

.channel-create-input {
    border-radius: 40px;
    border: 1px solid #ADB0D9;
    font-size: 18px;

    &::placeholder {
        font-size: 18px;
        color: #686868;
    }

    &:hover {
        border: 1px solid #797EF3;
    }
}

.channel-create-input[type=text]:focus {
    border: 1px solid #535AF1;
    outline: none;
  }

.channel-create-name-input {
    padding: 18px 20px 18px 50px;
    width: calc(100% - calc(70px));
}

.channel-create-description-input {
    padding: 18px 20px;
    width: calc(100% - calc(40px));
}

.relative {
    position: relative;
}

.channel-create-input-hashtag {
    position: absolute;
    font-size: 23px;
    top: 17px;
    left: 20px;
    color: #686868;
}

.btn-container {
    display: flex;
    justify-content: end;
}

.btn {
    padding: 12px 25px;
    border-radius: 25px;
    background-color: #444DF2;
    color: white;
}

.user-group-radio-button {
    transform: scale(1.5);
    margin: 0 25px 25px 0;
    accent-color: #444DF2;
}

.user-group-radio-button-label {
    cursor: pointer;
}

.contacts-list-pop-up {
    position: absolute;
    background-color: white;
    border: 1px solid #68686820;
    border-radius: 0 30px 30px 30px;
    box-shadow: 0px 6px 10px #00000020;
    padding: 5px 15px;
    width: 300px;
    margin-top: -12px;
    margin-left: 20px;
}

.user-selection-container {
    border: 1px solid #000000;
    border-radius: 40px;
    border: 1px solid #ADB0D9;
    font-size: 18px;
    padding: 0px 10px;

    input {
        border: #00000000;
        width: 130px;

        &:focus {
            border: #00000000;
        }
    }
}

.selected-users-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.selected-users {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECEEFE;
    border-radius: 30px;
    padding: 5px 15px;
    margin: 5px;
    gap: 10px;

    img {
        height: 30px;
        width: 30px;
    }

    mat-icon {
        font-size: 17px;
        font-weight: 600;
        vertical-align: -webkit-baseline-middle;
        cursor: pointer;
    }
}