.login {
    border-radius: 30px;
    background:#FFFFFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    height: clamp(31.25rem, 28.5714rem + 13.3929vw, 50rem);
    width: clamp(17.5rem, 12.8571rem + 23.2143vw, 50rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: clamp(0.8125rem, 0.7054rem + 0.5357vw, 1.5625rem);
    padding: clamp(0.625rem, 0.2679rem + 1.7857vw, 3.125rem);
    box-sizing: border-box;
    z-index: 3;
    h2 {
        color: #444DF2;
        font-size: clamp(1.125rem, 0.8839rem + 1.2054vw, 2.8125rem);        
        font-weight: 400;
        margin: 0;
    }
    p {
        font-size: clamp(0.75rem, 0.6339rem + 0.5804vw, 1.5625rem);
        text-align: center;
        margin: 0;
        color: rgba(0, 0, 0, 0.7);
    }
    .input-container {
        width: 100%;
        position: relative;
        input {
            padding: 0 clamp(0.625rem, 0.5357rem + 0.4464vw, 1.25rem) 0 clamp(3.125rem, 3.0357rem + 0.4464vw, 3.75rem);
            height: clamp(1.875rem, 1.5179rem + 1.7857vw, 4.375rem);
            width: 100%;
            box-sizing: border-box;
            border-radius: 30px;
            background-color: #ECEEFE;
            border: 1px solid transparent;
            font-size: clamp(0.75rem, 0.6339rem + 0.5804vw, 1.5625rem);
            transition: 225ms ease-in-out;
            cursor: pointer;
            &::placeholder {
                font-size: clamp(0.75rem, 0.6339rem + 0.5804vw, 1.5625rem);
            }
            &:hover {
                border: 1px solid #444DF2;
                transition: 225ms ease-in-out;
            }
        }
        mat-icon {
            position: absolute;
            left: 20px;
            top: clamp(0.1875rem, 0.0089rem + 0.8929vw, 1.4375rem);
            color: gray;
            font-size: clamp(0.875rem, 0.7768rem + 0.4911vw, 1.5625rem);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        p {
            text-align: left;
            position: absolute;
            left: 10px;
            color: red;
            font-size: clamp(0.6875rem, 0.625rem + 0.3125vw, 1.125rem);
        }
    }
    .reset-password {
        color: #797EF3;
        text-decoration: none;    
        font-size: clamp(0.875rem, 0.8214rem + 0.2679vw, 1.25rem); 
        transition: 225ms ease-in-out;
        padding: 6px 10px;
        border-radius: 30px;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
            background-color: #ECEEFE;
            color: #444DF2;
        }
    }
    .or-container {
        display: flex;
        width: 100%;
        align-items: center;
        box-sizing: border-box;
        hr {
            height: 1px;
            border: none;
            width: 39%;
            background-color: #ADB0D9;
            border-radius: 5px;
            margin: 10px;
        }
        p {
            margin: 0;
        }
    }
    .google-btn {
        width: 100%;
        border: 1px solid transparent;
        background-color: #ECEEFE;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: clamp(1.875rem, 1.5179rem + 1.7857vw, 4.375rem);
        gap: 10px;
        transition: 225ms ease-in-out;
        cursor: pointer;
        &:hover {
            color: #444DF2;
            border: 1px solid #444DF2;
            transition: 225ms ease-in-out;
            p {
                color: #444DF2;
            }
        }
        p {
            color: #797EF3;
            cursor: pointer;
        }
        img {
            width: 20px;
        }
    }
    .login-options {
        display: flex;
        gap: 10px;
        .login-btn, .guest-login-btn {
            border-radius: 30px;
            height: clamp(1.875rem, 1.5179rem + 1.7857vw, 4.375rem);
            width: clamp(6.25rem, 5.4464rem + 4.0179vw, 11.875rem);
            cursor: pointer;
            font-size: clamp(0.75rem, 0.6339rem + 0.5804vw, 1.5625rem);
        }
        .login-btn {
            background-color: #444DF2;
            color: white;
            border: none;
            transition: 225ms ease-in-out;
            &:hover {
                background-color: #797EF3;
                transition: 225ms ease-in-out;
            }
        }
        .guest-login-btn {
            color: #444DF2;
            background-color: transparent;
            border: 1px solid #444DF2;
            transition: 225ms ease-in-out;
            &:hover {
                background-color:  #444DF2;
                transition: 225ms ease-in-out;
                color: white;
                border: 1px solid  #444DF2;
            }
        }
    }
    .data-proteccion {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: -100px;
        width: clamp(17.5rem, 12.8571rem + 23.2143vw, 50rem);
        display: flex;
        justify-content: center;
        gap: 10px;
        z-index: 3;
        a { 
            color: #797EF3;
            text-decoration: none;    
            font-size: clamp(0.9375rem, 0.8482rem + 0.4464vw, 1.5625rem);
            transition: 225ms ease-in-out;
            padding: 10px 30px;
            border-radius: 30px;
            border: 1px solid transparent;
            cursor: pointer;
            &:hover {
                border: 1px solid #444DF2;
                transition: 225ms ease-in-out;
                color: #444DF2;
            }
        }
    }
}

.sign-up-option {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: clamp(0.9375rem, 0.8482rem + 0.4464vw, 1.5625rem);
    p {
        margin: 0;
        color: rgba(0, 0, 0, 0.7);
    }
    a {
        color: #797EF3;
        text-decoration: none;    
        transition: 225ms ease-in-out;
        padding: 10px 30px;
        border-radius: 30px;
        border: 1px solid transparent;
        cursor: pointer;
        font-size: clamp(0.75rem, 0.6339rem + 0.5804vw, 1.5625rem);
        &:hover {
            border: 1px solid #444DF2;
            transition: 225ms ease-in-out;
            color: #444DF2;
        }
        @media only screen and (max-width: 711px) {
            border: 1px solid #797EF3;
            border-radius: 30px;
        } 
        @media only screen and (max-width: 324px) {
            padding: 5px 10px;
        }
    }
    @media only screen and (max-width: 711px) {
           bottom: 10px;
           top: unset;
           right: unset;
           left: 50%;
           transform: translate(-50%, -50%);
    }
}

.disabled-btn {
    background-color: #868bf3 !important;
    pointer-events: none;
    cursor: unset !important;
}

.red-border {
    border: 1px solid red !important;
}

.confirm-container {
    border-radius: 30px;
    background:rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    height: clamp(31.25rem, 28.5714rem + 13.3929vw, 50rem);
    width: clamp(17.5rem, 12.8571rem + 23.2143vw, 50rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(0.625rem, 0.2679rem + 1.7857vw, 3.125rem);
    box-sizing: border-box;
    z-index: 3;
    cursor: default;
    .confirm-text {
        border-radius: 30px 30px 0 30px;
        padding: 10px;
        background-color: #444DF2;
        height: clamp(7.1875rem, 6.6964rem + 2.4554vw, 10.625rem);
        width: clamp(16.25rem, 14.1071rem + 10.7143vw, 31.25rem);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        opacity: 0;
        gap: 10px;
        transform: translateX(100%);
        animation: slideInFromRight 0.3s linear forwards;
        a {
            color: yellow;
            cursor: pointer;
            transition: 225ms ease-in-out;
            margin-top: 0;
            &:hover {
                transform: scale(1.2);
                transition: 225ms ease-in-out;
            }
        }
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-height: 896px) {
    .login {
        height: 454px;
        .reset-password {
            margin-top: 0;
        }
        .google-btn img {
            width: 15px;
        }
        .data-proteccion {
            bottom: -19%;
        }
        .sign-up-option {
            bottom: 4%;
        }
    }
}

@media (max-height: 740px) {
    .login {
        // height: 80vh;
        // transform: translate(-50%, -62%);
        .data-proteccion {
            bottom: -62px;
            a {
                padding: 7px 15px;
            }
        }
    }
    .sign-up-option {
        flex-direction: unset;
        width: 100%;
    }
}
