<form class="login" [formGroup]="logInForm" (ngSubmit)="logInUser()">
    <h2>Anmeldung</h2>
    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>

    <div class="input-container">
        <input formControlName="email" type="email" name="email" placeholder="beispielname@email.com" maxlength="25"
        [class.red-border]="logInForm.get('email')?.invalid && logInForm.get('email')?.touched" required>
        <mat-icon>mail_outline</mat-icon>
        <p *ngIf="logInForm.get('email')?.invalid && logInForm.get('email')?.touched">Diese E-Mail-Adresse ist leider ungültig.</p>
    </div>

    <div class="input-container">
        <input formControlName="password" type="password" name="password" placeholder="Passwort" maxlength="25">
        <mat-icon>lock_outline</mat-icon>
        <p *ngIf="logInForm.get('password')?.invalid && logInForm.get('password')?.touched || isWrongPassword">Falsches Passwort. Bitte noch einmal versuchen.</p>
    </div>

    <a class="reset-password" (click)="openResetPassword.emit()">Passwort vergessen?</a>
    <div class="or-container">
        <hr>
        <p>ODER</p>
        <hr>
    </div>
    
    <button (click)="loginWithGoogle()" class="google-btn">
        <img src="./assets/img/google.png">
        <p>Anmelden mit Google</p>
    </button>
    <div class="login-options">
        <button [disabled]="logInForm.invalid" [class.disabled-btn]="logInForm.invalid" type="submit" class="login-btn">Anmelden</button>
        <button (click)="signInAnonymously()" type="button" class="guest-login-btn">Gäste-Login</button>
    </div>

    <div class="data-proteccion">
        <a (click)="openImprint.emit()">Impressum</a>
        <a (click)="openPrivacy.emit()">Datenschutz</a>
    </div>

    <div *ngIf="!userAlreadyExists && !isGoogleLogin && !isAnonymous"  class="confirm-container">
        <p class="confirm-text">Du bist noch nicht registriert. Hier geht es zur
            <a (click)="openSignup.emit()">Registrierung</a>
        </p>
    </div>
</form>

<div class="sign-up-option">
    <p>Neu bei DABubble?</p>
    <a (click)="openSignup.emit()">Konto erstellen</a>
</div>