.threadContainer{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width: 1500px) {
        border: 1px solid #797ef340;
    }
    
    @media(max-width: 750px) {
        border-radius: 0;
    }
        .threadContainerQuestion{
            width: calc(100% - 80px);
            padding: 10px 40px 10px 40px;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            margin-top: 17px;
            position: relative;

            &:hover{
                background-color:#ECEEFE;
               
                .threadContainerTextLeft{
                    background-color: white;
                }

                .reactionContainer{
                    display: flex !important;
                    animation: slidein 0.1s ease-in-out forwards;                      
                }
            }            


            .threadContainerQuestionContainer{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 8px;
                position: relative;               
                

                .threadContainerQuestionInfo{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;                    
                }                
            }
        }

        .answersContainer{
            height: 100%;
            max-height: 100%;
            overflow-y: hidden;
            overflow-x: hidden;
            padding-bottom: 40px;
            scroll-behavior: smooth;
            position: relative;

            @media (max-width: 750px) {
                margin-top: 4px;
            }

            &:hover{
                overflow-y: auto;                
            }


            .threadContainerAnswer{
                position: relative;
                display: flex;
                justify-content: flex-start;
                gap: 30px;
                margin-top: 28px;  
                padding: 20px 45px;
                cursor: default;

                @media (max-width: 750px) {
                    padding: 10px 50px 10px 16px;
                    margin-top: 15px;
                }

                &:hover{
                    background-color:#ECEEFE;
    
                    .threadContainerTextLeft{
                        background-color: white;
                    }
    
                    .reactionContainer{
                        display: flex !important;
                        animation: slidein 0.1s ease-in-out forwards;                       
                    }
    
                    .answerFromRight{                    
                        background-color: #797EF3 !important;                    
                    }
                }
    
                .threadContainerAnswerContainer{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 8px;
                    position: relative;
    
                    .threadContainerAnswerInfo{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 20px;                    
                    }

                    .editMessageContainer{
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: calc(100% - 40px);
                        width: calc(100% - 40px);
                        background-color: white;
                        border: 1px solid #ADB0D9;
                        border-radius: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 16px;
                        padding: 20px;
                        font-size: clamp(0.9375rem, 0.798rem + 0.6977vw, 1.125rem);
                        font-weight: 400;
                        line-height: 25px;
                        color: #686868;

                        @media(max-width: 750px){
                            height: calc(100% - 32px);
                            width: calc(100% - 32px);
                            padding: 16px 10px;
                        }
    
                        .editMessageContainerMessage{
                           overflow-y: auto;
                           font-size: clamp(0.9375rem, 0.798rem + 0.6977vw, 1.125rem);
                           line-height: 24px;
                           color: #686868; 
                           border: unset;
                           resize: none;
                           outline: none; 
                        }
    
                        .editMessageContainerReactAndSend{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
    
                            .editMessageContainerReactAndSendBtns{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 16px;

                                @media(max-width: 750px){
                                    gap: 16px
                                }
    
                                .editMessageBtn{
                                    padding: 12px 25px;
                                    border: 1px solid #797EF3;
                                    border-radius: 50px;
                                    color: #444DF2;
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 25px;
                                    cursor: pointer;

                                    @media(max-width: 2100px){
                                        font-size: 14px;
                                        padding: 8px 15px;
                                    }


                                    @media(max-width: 1850px){
                                        font-size: 12px;
                                        padding: 5px 10px;
                                    }

                                    @media(max-width: 1450px){
                                        padding: 8px 16px;
                                        font-size: 16px;
                                        font-weight: 600;
                                    }
    
                                    @media(max-width: 450px){
                                        padding: 4px 8px;
                                        font-size: 14px;
                                        font-weight: 600;
                                    }
                                }

                                .editMessageBtnMidSize{
                                    padding: 10px;
                                    border-radius: 100%;
                                    border: 1px solid #797EF3;
                                    color: #444DF2;
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 25px;
                                    cursor: pointer;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    svg{
                                        fill:#444DF2
                                    }
                                }
    
                                .saveBtn{
                                    background-color: #444DF2;
                                    color: white;

                                    svg{
                                        fill:white;
                                    }
                                }
                            }
                        }
    
                    }
                }
            }
    
            .threadContainerAnswerReverse{
                flex-direction: row-reverse !important;     
                
                @media (max-width: 750px) {
                    padding: 10px 16px 10px 50px;
                }
            }
    
            .threadHoverRight{
                background-color: #797EF3;
            }
        }       


        .threadContainerAnswersStroke{
            display: flex;
            align-items: center;
            gap: 20px;
            width: calc(100% - 66px);
            padding: 0 33px;

            @media (max-width: 750px) {
                padding: 10px 20px;
                width: calc(100% - 40px);
            }

            .threadContainerAnswers{
                font-size: 18px;
                line-height: 24.5px; 
                color: #ADB0D9;
            }

            .threadContainerAnswersStrokeContainer{
                height: 1px;
                flex: 1;
                border-bottom: 1px solid #ADB0D9;
            }
        }

        
        .seperator-vert {
            width: 1px;
            background-color: #ADB0D9;
        }
        
        .footer-icons-right {
            padding: 10px;
            color: #444DF2;
        
            &:hover {
                color: #797EF3;
            }
        }
}


.threadContainerInfoPerson{
    font-size: clamp(0.8125rem, 0.673rem + 0.6977vw, 1rem);
    font-weight: 700;
    line-height: 24.5px;
    text-align: end;
}

.threadContainerInfoTime{
    font-size: clamp(0.75rem, 0.657rem + 0.4651vw, 0.875rem);
    color:#686868;
    line-height: 19.5px;
}

.threadContainerTextLeft{
    padding: 15px;
    border-radius: 0 20px 20px 20px;
    background-color: #ECEEFE;
    font-size: 16px;
    line-height: 24.5px;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.threadContainerTextReactions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    position: relative;

    .threadContainerTextReactionsEmojisWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
    }   

    .threadContainerTextReactionsEmojis{
        position: relative;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid #ADB0D9;
        border-radius: 20px;
        background-color: white;
        cursor: pointer;
    
        img{
            width: 24px;
            height: 24px;
        }

        &:hover{
            .reactionsInfoContainer{
                display: flex !important;
            }
        }
    }

    .reactionsInfoContainer{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateY(-100%);
        display: none;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-direction: column;
        background-color: #444DF2;
        color: white;
        border-radius: 30px 30px 30px 0;
        padding: 15px 10px;

        .reactionsInfoContainerUsers{
            display: flex;
            gap: 4px;
        }

        span{
            white-space: nowrap;
        }

    }
}

.emoji-below-answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 100%;
    padding: 10px;
    width: 20px;
    height: 20px;

    &:hover {
        background-color: #ECEEFE;
        cursor: pointer;

        img {
            filter: invert(27%) sepia(86%) saturate(2544%) hue-rotate(231deg) brightness(100%) contrast(90%);
        }
    }

    .emoji-below-answer-selection {
        position: absolute;
        top: 35px;
        z-index: 100;
    }
}

.emoji-footer-container {
    position: relative;

    .emoji-footer-selection {
        position: absolute;
        z-index: 100;
        bottom: 30px;
    }
}


.profile-message-img {
    border-radius: 100%;
    object-fit: cover;
    position: relative;
    width: 60px;
    height: 60px;

    @media (max-width: 750px) {
        width: 40px;
        height: 40px;
    }

    .profile-img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 100%;

        @media (max-width: 750px) {
            width: 40px;
            height: 40px;
        }
    }
    .active-point {
        position: absolute;
        bottom: -4px;
        right: 0;
        margin: 0;
        border: 2px solid white;
    }
}

.d-hidden{
    visibility: hidden;
}

.answerFromRight{
    border-radius: 20px 0 20px 20px;
    background-color: #797EF3;
    color: white;
}

.flex-end{
    align-items: flex-end !important;
    flex: 1;
}

.reactionContainer{
    position: absolute;
    top: 0;
    right: 0;
    height: 46px;
    transform: translateY(-75%) translateX(100%);
    border-radius: 25px 25px 0 25px;
    display: none;
    justify-content: center;
    align-items: center;    
    border: 1px solid #ADB0D9;
    background-color: white;
    
    .reactionMenu{
        margin: 3px 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        

        .emoji-container{     
            display: flex !important;
            position: relative;
            align-items: center;
            height: 40px;

            img{
                width: 24px;
                height: 24px;
            }

            .emoji-selection {                                
                position: absolute;
                top:20px;
                z-index: 1000;

                
            }        
    }

        .editMessage{
            position: relative;

            .editMessageBtn{
                
                position: absolute;
                right: 0;
                top: 0;
                height: 55px;         
                transform: translateX(100%);
                display: none;
                white-space: nowrap;
                justify-content: center;
                align-items: center;
                font-size: clamp(0.8125rem, 0.673rem + 0.6977vw, 1rem);                
                font-weight: 600;
                background-color: white;
                padding: 5px 10px;
                border-radius: 0 30px 30px 30px;
                box-shadow: 0 6px 14px 0 rgba($color: #000000, $alpha: 0.2);

                span{
                    padding: 5px 10px;
                    border-radius: 100px;
                }

                &:hover{
                    span{
                        transition: background-color 0.08s ease-in;
                        background-color: #ECEEFE;
                        font-weight: 700;
                        color: #797EF3;
                    }                    
                }
            }

            &:hover{

                .editMessageBtn{
                    display: flex;
                }
            }
        }
    }

    svg{
        width: 24px;
        height: 24px;
        padding: 8px;        

        &:hover{
            background-color: #ECEEFE;
            border-radius: 100%;
            fill:#797EF3;                            
        }
    }
}

.absoluteLeft{
    left: 0;
    right: unset;
    transform: translateY(-75%)
}


@keyframes slidein {
    
    to {
      transform: translateX(0%) translateY(-75%);
    }
}


::-webkit-scrollbar {
    width: 10px;    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #797EF3; 
    border-radius: 10px;   
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#797df377; 
    border-radius: 5px;    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #797EF3;    
  }



  // --------------------------------file upload function----------------------------------


  .file-upload-container {
    display: flex;
    align-items: center;

    mat-icon {
        padding-bottom: 5px;
        cursor: pointer;
    }
}

.file-upload-selection {
    border: none !important;
    outline: none !important;
    padding-bottom: 20px;
}

.uploaded-files {
    margin-top: 10px;
    max-width: 200px;
    max-height: 100px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.uploaded-files-preview {
    max-width: 100px;
    max-height: 50px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.image-preview-overlay {
    position: absolute;
    top: 112px;
    left: 165px;
    cursor: pointer; 
    

    &:hover {
        mat-icon {
            opacity: 1;
        }
    }
    mat-icon {
        opacity: 0;
        color: #686868;
        transition: opacity 0.3s ease;
        color: #686868;
        position: absolute;
        right: -10px;
        top: -8px;
        background: white;
        border-radius: 100%;
    }
}

.file-preview {
    max-width: 100%;
    max-height: 50px; 
    visibility: visible;
}

.hidden {
    visibility: hidden;
}
