<div class="threadContainer">

    <app-threads-header [activeChannelName]="activeChannelName"></app-threads-header>
    <app-thread-question></app-thread-question>    

    <!-- Stroke between -->
    <div class="threadContainerAnswersStroke">
        <div class="threadContainerAnswers">{{allAnswers.length}} Anworten</div>
        <div class="threadContainerAnswersStrokeContainer"></div>
    </div>

    <!-- Thread Answers -->
    <div class="answersContainer" #answerContainer>
        <div class="threadContainerAnswer" *ngFor="let answer of allAnswers, let chatIndex = index"
            [ngClass]="{'threadContainerAnswerReverse' : isCurrentUser(chatIndex)}"> 

            <div class="profile-message-img">
                <img class="profile-img"
                    [src]="answer.profileImg.startsWith('https') ? answer.profileImg : './assets/img/' + answer.profileImg" alt="">
                    <p class="active-point" *ngIf="answer.isOnline"></p>
            </div>

            <div class="threadContainerAnswerContainer" [ngClass]="{'flex-end' : isCurrentUser(chatIndex)}">

                <div class="reactionContainer" [ngClass]="{'absoluteLeft' : isCurrentUser(chatIndex)}">
                    <div class="reactionMenu">
                        <div class="emoji-container">
                            <img (click)="toggleEmoji($event, chatIndex)" src="../../../assets/img/add_reaction.png" alt="">
                            <div *ngIf="answer.isEmojiOpen" class="emoji-selection">
                                
                                <app-emoji-picker
                                (emojiSelect)="handleReactionMessage($event, answer); closeEmojiContainers(chatIndex)"></app-emoji-picker>
                            </div>
                        </div>
                        <div class="editMessage" *ngIf="isCurrentUser(chatIndex)">
                            <mat-icon>more_vert</mat-icon>
                            <div class="editMessageBtn">
                                <span (click)="editAnswer(answer.answerID)">Nachricht bearbeiten</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="threadContainerAnswerInfo"
                    [ngClass]="{'threadContainerAnswerReverse' : isCurrentUser(chatIndex)}">
                    <div class="threadContainerInfoPerson">{{answer.firstname}} {{answer.lastname}}</div>
                    <div class="threadContainerInfoTime">{{answer.timestamp}} Uhr</div>
                </div>
                <div class="threadContainerTextLeft" [ngClass]="{'answerFromRight' : isCurrentUser(chatIndex)}">
                    {{answer.answertext}}
                </div>

                <div class="threadContainerTextReactions">
                    <div class="threadContainerTextReactionsEmojis" *ngFor="let answer of answer.react">
                        <div class="reactionsInfoContainer">
                            <div>{{answer.emoji}}</div>
                            <div class="reactionsInfoContainerUsers" *ngFor="let user of answer.user; let i = index">
                                <div>{{user}}</div>
                                <div *ngIf="i < (answer.user.length - 1)"> &</div>
                            </div>
                            <span>hat reagiert</span>
                        </div>
                        <div>{{answer.emoji}}</div>
                        <div class="threadContainerTextReactionsAmount">{{answer.user.length}}</div>
                    </div>                    
                    <div class="emoji-con">
                        <img (click)="toggleEmoji($event, chatIndex)" src="../../../assets/img/add_reaction.png" alt="">        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-threads-send-message></app-threads-send-message>
</div>

