<div class="threadContainer">

    <div class="threadContainerHeader">
        <div class="threadContainerHeaderHeadline">
            <div class="threadContainerHeaderHeadlineMain">Thread</div>
            <div class="threadContainerHeaderHeadlineChanal">#</div>
            <div class="threadContainerHeaderHeadlineChanal">Entwicklerteam</div>
        </div>
        <div class="threadContainerHeaderCloseBtn">X</div>
    </div>

    <div class="threadContainerQuestion">
        <img src="./assets/img/avatarNoah.png" alt="">
        <div class="threadContainerQuestionContainer">
            <div class="threadContainerQuestionInfo">
                <div class="threadContainerInfoPerson">Noah Braun</div>
                <div class="threadContainerInfoTime">14:25 Uhr</div>
            </div>
            <div class="threadContainerTextLeft">
                Welche ist die aktuelle Angular Version?
            </div>
        </div>        
    </div>

    <div class="threadContainerAnswersStroke">
        <div class="threadContainerAnswers">2 Anworten</div>
        <div class="threadContainerAnswersStrokeContainer"></div>
    </div>

    <div class="threadContainerAnswer">
        <img src="./assets/img/avatarSofia.png" alt="">
        <div class="threadContainerAnswerContainer">
            <div class="threadContainerAnswerInfo">
                <div class="threadContainerInfoPerson">Sofia Müller</div>
                <div class="threadContainerInfoTime">14:30 Uhr</div>
            </div>
            <div class="threadContainerTextLeft">
                Gute Frage. Ich glaube die aktuelle version ist Angular 17. Vielleicht weiß Frederik mehr?
            </div>
        </div>        
    </div>

    <div class="threadContainerAnswer threadContainerAnswerReverse">
        <img src="./assets/img/avatarFrederick.png" alt="">
        <div class="threadContainerAnswerContainer flex-end">
            <div class="threadContainerAnswerInfo threadContainerAnswerReverse">
                <div class="threadContainerInfoPerson">Frederick Beck</div>
                <div class="threadContainerInfoTime">15:06 Uhr</div>
            </div>
            <div class="threadContainerTextLeft answerFromRight">
                Ja so ist es.
            </div>
        </div>        
    </div>

</div>
