<div class="threadContainer">

    <div class="threadContainerHeader">
        <div class="threadContainerHeaderHeadline">
            <div class="threadContainerHeaderHeadlineMain">Thread</div>
            <div class="threadContainerHeaderHeadlineChanal">#</div>
            <div class="threadContainerHeaderHeadlineChanal">{{ activeChannelName }}</div>
        </div>
        <div class="threadContainerHeaderCloseBtn" title="closeThreads" (click)="closeThread()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
            </svg>
        </div>
    </div>

    <!-- ThreadQuestion -->
    <div class="threadContainerQuestion">
        <img class="profilPic" src="./assets/img/avatarNoah.png" alt="">
        <div class="threadContainerQuestionContainer">

            <div class="reactionContainer">
                <div class="reactionMenu">
                    <img (click)="toggleEmojiMessage(loadedMessage.messageID)" src="../../../assets/img/add_reaction.png" alt="">
                            <div *ngIf="loadedMessage.isEmojiOpen" class="emoji-selection">
                                <emoji-mart class="emoji-mart" 
                                [style]="{ width: '240px', cursor: 'default' }"
                                (emojiSelect)="handleReactionMessage($event, loadedMessage)" 
                                color=#535AF1 
                                set="apple"
                                [enableSearch]="false" 
                                [showPreview]="false" 
                                title="Choose your emoji">
                                </emoji-mart>
                            </div>
                </div>
            </div>


            <!-- Fehler beheben -->
            <div class="threadContainerQuestionInfo">
                <div class="threadContainerInfoPerson">{{loadedMessage.messageUserName}}</div>
                <div class="threadContainerInfoTime">{{loadedMessage.timestamp}} Uhr</div>
            </div>
            <div class="threadContainerTextLeft">
                {{loadedMessage.messagetext}}
            </div>
            <div class="threadContainerTextReactions">
                <div class="threadContainerTextReactionsEmojis" *ngFor="let answer of loadedMessage.react">
                    <div class="reactionsInfoContainer">
                        <div>{{answer.emoji}}</div>
                        <div class="reactionsInfoContainerUsers" *ngFor="let user of answer.user; let i = index">
                            <div>{{user}}</div>
                            <div *ngIf="i < (answer.user.length - 1)"> &</div>
                        </div>
                        <span>hat reagiert</span>
                    </div>
                    <div>{{answer.emoji}}</div>
                    <div class="threadContainerTextReactionsAmount">{{answer.user.length}}</div>
                </div>                    
                <div class="emoji-con">
                    <img (click)="toggleEmojiMessage(loadedMessage.messageID)" src="../../../assets/img/add_reaction.png" alt="">                </div>
            </div>
        </div>
    </div>

    <!-- Stroke between -->
    <div class="threadContainerAnswersStroke">
        <div class="threadContainerAnswers">{{allAnswers.length}} Anworten</div>
        <div class="threadContainerAnswersStrokeContainer"></div>
    </div>

    <!-- Thread Answers -->
    <div class="answersContainer">
        <div class="threadContainerAnswer" *ngFor="let answer of allAnswers"
            [ngClass]="{'threadContainerAnswerReverse' : answer.activeUserAnswers}">
            <img class="profilPic" src="./assets/img/{{answer.userProfileImg}}" alt="">
            <div class="threadContainerAnswerContainer" [ngClass]="{'flex-end' : answer.activeUserAnswers}">

                <div class="reactionContainer" [ngClass]="{'absoluteLeft' : answer.activeUserAnswers}">
                    <div class="reactionMenu">
                        <div class="emoji-container">
                            <img (click)="toggleEmoji(answer.answerID)" src="../../../assets/img/add_reaction.png" alt="">
                            <div *ngIf="answer.isEmojiOpen" class="emoji-selection">
                                <emoji-mart class="emoji-mart" 
                                [style]="{ width: '240px', cursor: 'default' }"
                                (emojiSelect)="handleReaction($event, answer)" 
                                color=#535AF1 
                                set="apple"
                                [enableSearch]="false" 
                                [showPreview]="false" 
                                title="Choose your emoji">
                                </emoji-mart>
                            </div>
                        </div>
                        <div class="editMessage" *ngIf="answer.activeUserAnswers">
                            <mat-icon>more_vert</mat-icon>
                            <div class="editMessageBtn">
                                <span (click)="editAnswer(answer.answerID)">Nachricht bearbeiten</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="threadContainerAnswerInfo"
                    [ngClass]="{'threadContainerAnswerReverse' : answer.activeUserAnswers}">
                    <div class="threadContainerInfoPerson">{{answer.answerUserName}}</div>
                    <div class="threadContainerInfoTime">{{answer.timestamp}} Uhr</div>
                </div>
                <div class="threadContainerTextLeft" [ngClass]="{'answerFromRight' : answer.activeUserAnswers}">
                    {{answer.answertext}}
                </div>
                <div class="threadContainerTextReactions">
                    <div class="threadContainerTextReactionsEmojis" *ngFor="let answer of answer.react">
                        <div class="reactionsInfoContainer">
                            <div>{{answer.emoji}}</div>
                            <div class="reactionsInfoContainerUsers" *ngFor="let user of answer.user; let i = index">
                                <div>{{user}}</div>
                                <div *ngIf="i < (answer.user.length - 1)"> &</div>
                            </div>
                            <span>hat reagiert</span>
                        </div>
                        <div>{{answer.emoji}}</div>
                        <div class="threadContainerTextReactionsAmount">{{answer.user.length}}</div>
                    </div>                    
                    <div class="emoji-con">
                        <img (click)="toggleEmoji(answer.answerID)" src="../../../assets/img/add_reaction.png" alt="">        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- write Answer -->
    <div class="footer-write-new-message">
        <div>
            <textarea class="textarea" [(ngModel)]="answertext" id="answertext" placeholder="Antworten..."  (keyup.enter)="sendAnswer()"></textarea>
        </div>
        <div class="footer-line-icons">
            <div class="footer-icons-left">
                <mat-icon>add</mat-icon>
                <div class="seperator-vert"></div>
                <div class="emoji-container">
                    <img (click)="toggleEmojiAnswer()" src="../../../assets/img/add_reaction.png" alt="">
                        <div *ngIf="isAnswertextEmojiOpen" class="emoji-selection">
                            <emoji-mart class="emoji-mart" 
                            [style]="{ width: '240px', cursor: 'default' }"
                            (emojiSelect)="addEmojitoText($event)" 
                            color=#535AF1 
                            set="apple"
                            [enableSearch]="false" 
                            [showPreview]="false" 
                            title="Choose your emoji">
                            </emoji-mart>
                        </div>
                </div>
                <mat-icon>alternate_email</mat-icon>
            </div>
            <div class="footer-icons-right">
                <mat-icon title="channel" (click)="sendAnswer()">send_icon</mat-icon>
            </div>

        </div>
    </div>

</div>