<div class="editAnswerContainer">
    <textarea [(ngModel)]="messageText"></textarea>
    <div class="footer-line-icons">
        <div class="emoji-container">
            <img (click)="toggleEmojiMessage()" src="./assets/img/add_reaction.png" alt="">
            <div *ngIf="isMessageEmojiOpen" class="emoji-selection">
                <app-emoji-picker (emojiSelect)="addEmojitoText($event)"></app-emoji-picker>
            </div>
        </div>
        <div class="footer-icons-right">
            <div class="buttons" (click)="closeDialog()">Abbrechen</div>
            <div class="buttons buttonreverse" (click)="updateMessageText()">Speichern</div>
        </div>
    </div>
</div>
