<div class="mainContainer">
    <div class="mainContainerHeader">
        <div class="mainContainerHeaderLogo">
            <img src="./assets/img/logo.png" alt="">
            <span>DABubble</span>
        </div>
        <div class="mainContainerHeaderSearch">
            <input type="text">
        </div>
        <div class="mainContainerHeaderProfil">
            <span class="mainContainerHeaderProfilName">{{ userFirstName }} {{ userLastName }}</span>
            <img src="./assets/img/{{ userImg }}" alt="">
            <mat-icon (click)="toggleProfileMenu()" class="logout-icon">keyboard_arrow_down</mat-icon>
            <div class="profil-info-header" *ngIf="isProfileMenuOpen">
                <div>Profil</div>
                <div (click)="logout()" class="logout">Log out</div>
            </div>
            <div class="overlay" *ngIf="isProfileMenuOpen" (click)="toggleProfileMenu()"></div>
            <!-- <div class="mainContainerHeaderProfilArrow">A</div> -->
        </div>
    </div>
    <div class="mainContainerContent">
        <app-workspace></app-workspace>
        <app-channel-chat></app-channel-chat>
        <app-thread *ngIf="threadOpen"></app-thread>        
    </div>
</div>



<!-- nur zur Orientierung
    noch umgestalten und Größen anpassen  -->
