.mainContainer{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 40px);
    height: calc(100vh - 50px);
    padding: 25px 20px;
    background-color:  #ECEEFE;

    

    .mainContainerHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;

        .mainContainerHeaderLogo{

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            font-weight: 600;
            font-size: 24px;

            img{
                height: 70px;
            }            
        }

        .mainContainerHeaderSearch{
            display: flex;
            align-items: center;
            
            input{
                height: 70px;
                width: 400px;
            }
            
        }

        .mainContainerHeaderProfil{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 70px;
            font-size: 32px;
            font-weight: 700;
        }

    }

    .mainContainerContent{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        app-thread{
            width: 25.8%;
            height: 100%;
        }
    }
}

