<div class="mainContainer">
    <div class="mainContainerHeader">
        <div class="mainContainerHeaderLogo">
            <img src="./assets/img/logo.png" alt="">
            <span>DABubble</span>
        </div>
        <div class="mainContainerHeaderSearch">
            <input type="text">
        </div>
        <div class="mainContainerHeaderProfil">
            <span class="mainContainerHeaderProfilName">Frederik Beck</span>
            <img src="./assets/img/avatarFrederick.png" alt="">
            <div class="mainContainerHeaderProfilArrow">A</div>
        </div>
    </div>
    <div class="mainContainerContent">
        <app-workspace></app-workspace>
        <app-thread></app-thread>        
    </div>
</div>

<!-- nur zur Orientierung
    noch umgestalten und Größen anpassen  -->
