<div class="mainContainer">
    <div class="mainContainerHeader" (click)="closeSearch()">
        <div class="mainContainerHeaderLogo" *ngIf="(isMobileScreen && workspaceOpen) || !isMobileScreen">
            <img src="./assets/img/logo.png" alt="">
            <span>DABubble</span>
        </div>
        <div (click)="openWorkspaceMobile()" class="server-container" *ngIf="isMobileScreen  && !workspaceOpen">
            <div>
                <mat-icon>chevron_left</mat-icon>
            </div>
            <div class="server-logo-name">
                <img src="./assets/img/workspace_logo.png" />
                <span>Code learning</span>
            </div>
        </div>

        <div class="searchfield-container" [ngClass]="{
                'searchfield-container-mobile-view': isMobileScreen && workspaceOpen, 
                'd-none': isMobileScreen && !workspaceOpen
            }">
            <input type="text" placeholder="Code learning durchsuchen" id="headerInput" [(ngModel)]="searchInput"
                (input)="search()" maxlength="20" autocomplete="off">

            <div class="searchResults" [ngStyle]="{'display': isInputFilled ? 'block' : 'none'}"
                *ngIf="searchResults.channels.length > 0 || searchResults.users.length > 0 || searchResults.messages.length > 0">
                <ul>
                    <li *ngFor="let channel of searchResults.channels"
                        (click)="searchfieldShowChannel($event, channel)">
                        <span>#</span> {{ channel.channelname }}
                    </li>
                    <li *ngFor="let user of searchResults.users" (click)="searchfieldShowUser(user)">
                        <img class="profile-img-search" [src]="getProfileImagePathSearch(user)">
                        <span>{{ user.firstname }} {{ user.lastname}}</span>
                    </li>
                    <li class="message-container" *ngFor="let message of searchResults.messages"
                        (click)="searchfieldShowMessage(message)">
                        <img class="profile-img-search"
                            [src]="message.user?.profileImg ? getProfileImagePathSearch(message.user) : ''">
                        <div class="message-content">
                            <span [innerHTML]="message.highlightedText"></span>
                            <div class="message-info">
                                <span>{{ message.user?.firstname }} {{ message.user?.lastname}} </span>•
                                <span> {{ message.date | date: 'd. MMM' }}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mainContainerHeaderProfil">
            <span class="mainContainerHeaderProfilName">{{ isEditMode ? editedUserFullName : userFullName }}</span>
            <div class="profile" (click)="openUserInfoResponsiv()">
                <img class="profile-img" [src]="getProfileImagePath()" alt="">
                <p class="active-point" *ngIf="this.userIsOnline"></p>
            </div>
            <mat-icon (click)="toggleProfileMenu()" class="logout-icon">keyboard_arrow_down</mat-icon>
            <div class="profil-info-header" *ngIf="isProfileMenuOpen"
                [ngClass]="{'mobile-view': screenWidth <= 750 && isProfileInfoOpen || isEditMode}">
                <div *ngIf="screenWidth <= 750" [ngClass]="{'d-none': screenWidth <= 750 && isProfileInfoOpen}">
                    <img src="./assets/img/line-user-info.png">
                </div>
                <div (click)="openUserInfo()" class="profile" (mouseover)="isProfileHovered = true"
                    (mouseout)="isProfileHovered = false"
                    [ngClass]="{'d-none': screenWidth <= 750 && isProfileInfoOpen  || isEditMode}">
                    <img *ngIf="screenWidth <= 750"
                        [src]="isProfileHovered ? './assets/img/account_circle_hover.png' : './assets/img/account_circle.png'">
                    <span>Profil</span>
                </div>
                <div (click)="logout(user.id)" class="logout" (mouseover)="isLogoutHovered = true"
                    (mouseout)="isLogoutHovered = false"
                    [ngClass]="{'d-none': screenWidth <= 750 && isProfileInfoOpen  || isEditMode}">
                    <img *ngIf="screenWidth <= 750"
                        [src]="isLogoutHovered ? './assets/img/logout_hover.png' : './assets/img/logout.png'">
                    <span>Log out</span>
                </div>

                <div class="user-info-details" *ngIf="isProfileInfoOpen">
                    <div class="user-info-header">
                        <p class="title">Profil</p>
                        <mat-icon (click)="closeUserInfo()" class="close-icon">close</mat-icon>
                    </div>
                    <img [src]="getProfileImagePath()" alt="">
                    <div class="user-info-name">
                        <p class="username">{{ userFullName }}</p>
                        <p *ngIf="!authService.isUserAnonymous()" (click)="openEditUser()" class="edit-link">Bearbeiten
                        </p>
                    </div>
                    <div class="user-info">
                        <p [ngClass]="{'active-point': userIsOnline, 'inactive-point': !userIsOnline}"></p>
                        <p [ngStyle]="{'color': userIsOnline ? '#92C83E' : '#686868'}">{{ userIsOnline ? 'Online' :
                            'Offline' }}</p>
                    </div>
                    <div class="user-email">
                        <mat-icon>mail_outline</mat-icon>
                        <div class="user-email-address">
                            <p>E-Mail-Adresse</p>
                            <p class="email-address">{{ user.email }}</p>
                        </div>
                    </div>
                </div>

                <div class="user-edit" *ngIf="isEditMode">
                    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
                    <div class="user-info-header">
                        <p class="title">Dein Profil bearbeiten</p>
                        <mat-icon (click)="closeEditUser()" class="close-icon">close</mat-icon>
                    </div>
                    <div class="edit-profile">
                        <img [src]="getProfileImagePath()" alt="">
                        <img (click)="toggleChangeImagePopup()" class="edit-image-icon"
                            src="./assets/img/edit-image.png">

                        <div class="edit-profile-image-popup" *ngIf="isChangeImagePopupOpen">
                            <div (click)="openAvatar()">Avatare auswählen</div>
                            <div>
                                <label for="img" class="btn upload">Eigenes Bild auswählen</label>
                                <input type="file" id="img" style="display:none;" (change)="uploadFiles($event)">
                            </div>
                        </div>

                        <div class="choose-avatar" *ngIf="isChooseAvatarOpen">
                            <div class="choose-avatar-header">
                                <mat-icon (click)="closeAvatar()">arrow_back</mat-icon>
                                <p>Wählen Sie einen Avatar<br> aus der Liste</p>
                            </div>
                            <div id="avatarSelection">
                                <img (click)="selectAvatar(1)" class="avatar-pic" src="./assets/img/avatar1.png">
                                <img (click)="selectAvatar(2)" class="avatar-pic" src="./assets/img/avatar2.png">
                                <img (click)="selectAvatar(3)" class="avatar-pic" src="./assets/img/avatar3.png">
                                <img (click)="selectAvatar(4)" class="avatar-pic" src="./assets/img/avatar4.png">
                                <img (click)="selectAvatar(5)" class="avatar-pic" src="./assets/img/avatar5.png">
                                <img (click)="selectAvatar(6)" class="avatar-pic" src="./assets/img/avatar6.png">
                            </div>
                        </div>

                    </div>
                    <div class="edit-container">
                        <div class="input-fields">
                            <div class="title-input">
                                <img src="./assets/img/account_circle.png">
                                <p>Vollständiger Name</p>
                            </div>
                            <input [(ngModel)]="userFullName" name="fullName" placeholder="Vor- und Nachname" maxlength="30">
                        </div>
                        <div class="input-fields">
                            <div class="title-input">
                                <mat-icon>mail_outline</mat-icon>
                                <p>E-Mail-Adresse</p>
                            </div>
                            <input #inputEmail  name="email" placeholder="{{user.email}}" maxlength="25">
                        </div>
                    </div>
                    <div class="button-container">
                        <button (click)="closeEditUser()" class="cancel-btn" type="button">Abbrechen</button>
                        <button (click)="saveUserChange()" class="save-btn" type="button">Speichern</button>
                    </div>

                    <div class="confirm-container" *ngIf="emailChanged">
                        <div class="confirm-text">E-Mail wurde gesendet.<br> Bitte bestätigen Sie<br> die neue
                            E-Mail-Adresse.
                        </div>
                    </div> 
                </div>
            </div>
            <div class="overlay" *ngIf="isProfileMenuOpen" (click)="toggleProfileMenu()"></div>
        </div>
    </div>

    <div class="mainContainerContent">
        <app-workspace *ngIf="workspaceOpen" [@leftRightAnimation]>
        </app-workspace>
        <app-chat-container *ngIf="(chatOpen && allChatSectionsOpen) || (chatOpen && !workspaceOpen)">
        </app-chat-container>
        <app-channel-chat *ngIf="(channelOpen && allChatSectionsOpen) || (channelOpen && !workspaceOpen)"
            [userProfileView]="userProfileView"
            [ngClass]="{'d-none': (threadOpen && isMobileScreen) || (threadOpen && onlyThread)}">
        </app-channel-chat>
        <app-thread *ngIf="(threadOpen && allChatSectionsOpen) || (threadOpen && !workspaceOpen)" [@leftRightAnimation]>
        </app-thread>
    </div>
</div>


<div class="normal-hover-img">
    <div class="workspace-menu-close-container" (click)="toggleWorkspace()">
        <div *ngIf="workspaceOpen">Workspace-Menü schließen</div>
        <div *ngIf="!workspaceOpen">Workspace-Menü öffnen</div>
        <div class="workspace-menu-close-icon">
            <img class="normal-img" src="./assets/img/workspace_hide.png" *ngIf="workspaceOpen" />
            <img class="hover-img" src="./assets/img/workspace_hide_hover.png" *ngIf="workspaceOpen" />
            <img class="normal-img" src="./assets/img/workspace_show.png" *ngIf="!workspaceOpen" />
            <img class="hover-img" src="./assets/img/workspace_show_hover.png" *ngIf="!workspaceOpen" />
        </div>
    </div>
</div>