.select-avatar {
    border-radius: 30px;
    background:#FFFFFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    height: clamp(31.25rem, 28.5714rem + 13.3929vw, 50rem);
    width: clamp(17.5rem, 12.8571rem + 23.2143vw, 50rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: clamp(0.8125rem, 0.7054rem + 0.5357vw, 1.5625rem);
    padding: clamp(0.625rem, 0.2679rem + 1.7857vw, 3.125rem);
    box-sizing: border-box;
    z-index: 3;
    .reset-header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        mat-icon {
            position: absolute;
            left: 0;
            cursor: pointer;
            padding: 12px;
            border-radius: 30px;
            border: none;
            font-size: clamp(1.25rem, 1.1161rem + 0.6696vw, 2.1875rem);
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: #ECEEFE;
                color: #444DF2;
            }
        }
        h2 {
            color: #444DF2;
            font-size: clamp(1.125rem, 0.8839rem + 1.2054vw, 2.8125rem);        
            font-weight: 400;
            margin: 0;
            text-align: center;
        }
    }
    img {
        width: clamp(4.6875rem, 3.8393rem + 4.2411vw, 10.625rem);
        height: clamp(4.6875rem, 3.8393rem + 4.2411vw, 10.625rem);
        border-radius: 100%;
        object-fit: cover;
    }
    h3, p {
        margin: 0;
    }
    h3 {
        font-size: clamp(1rem, 0.8304rem + 0.8482vw, 2.1875rem);
    }
    p {
        font-size: clamp(0.75rem, 0.6339rem + 0.5804vw, 1.5625rem);
    }
    #avatarSelection {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .avatar-pic {
            height: clamp(1.875rem, 1.3393rem + 2.6786vw, 5.625rem);
            width: clamp(1.875rem, 1.3393rem + 2.6786vw, 5.625rem);
            padding: 3px;
            border-radius: 100%;
            cursor: pointer;
            &:hover {
                padding: 3px;
                background-color: #444DF2;
            }
        } 
    }
    .upload-image {
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        font-size: clamp(0.9375rem, 0.8482rem + 0.4464vw, 1.5625rem);
        p {
            line-height: 50px;
        }
        label {
            all: unset;
            border: 1px solid #444DF2;
            border-radius: 30px;
            padding: 10px 20px;
            color: #44d;
            margin: 0 15px;
            cursor: pointer;
            transition: 225ms ease-in-out;
            height: clamp(0.625rem, 0.2679rem + 1.7857vw, 3.125rem);
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: #444DF2;
                color: white;
                transition: 225ms ease-in-out;
            }
        }
        @media only screen and (max-width: 950px) {
            justify-content: center;
            width: 100%;
        }
    }
    .next-btn {
        border-radius: 30px;
        height: clamp(1.875rem, 1.5179rem + 1.7857vw, 4.375rem);
        width: clamp(8.125rem, 7.5893rem + 2.6786vw, 11.875rem);
        cursor: pointer;
        font-size: clamp(0.75rem, 0.6339rem + 0.5804vw, 1.5625rem);
        background-color: #444DF2;
        color: white;
        border: none;
        transition: 225ms ease-in-out;
        &:hover {
            background-color: #797EF3;
            transition: 225ms ease-in-out;
        }
    }
    .data-proteccion {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: -100px;
        width: clamp(17.5rem, 12.8571rem + 23.2143vw, 50rem);
        display: flex;
        justify-content: center;
        gap: 10px;
        z-index: 3;
        a { 
            color: #797EF3;
            text-decoration: none;    
            font-size: clamp(0.9375rem, 0.8482rem + 0.4464vw, 1.5625rem);
            transition: 225ms ease-in-out;
            padding: 10px 30px;
            border-radius: 30px;
            border: 1px solid transparent;
            cursor: pointer;
            &:hover {
                border: 1px solid #444DF2;
                transition: 225ms ease-in-out;
                color: #444DF2;
            }
        }
    }
}

.confirm-container {
    border-radius: 30px;
    background:rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    height: clamp(31.25rem, 28.5714rem + 13.3929vw, 50rem);
    width: clamp(17.5rem, 12.8571rem + 23.2143vw, 50rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    padding: clamp(0.625rem, 0.2679rem + 1.7857vw, 3.125rem);
    box-sizing: border-box;
    z-index: 3;
    display: flex;
    cursor: default;
    .confirm-text {
        font-size: clamp(0.9375rem, 0.8482rem + 0.4464vw, 1.5625rem);
        border-radius: 30px 30px 0 30px;
        padding: 10px;
        background-color: #444DF2;
        height: clamp(7.1875rem, 6.6964rem + 2.4554vw, 10.625rem);
        width: clamp(16.25rem, 14.1071rem + 10.7143vw, 31.25rem);
        text-align: center;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transform: translateX(100%);
        animation: slideInFromRight 0.3s linear forwards;
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@media (max-height: 896px) {
    .select-avatar {
        height: 400px;
    }
}

@media (max-height: 740px) {
    .select-avatar {
        // height: 80vh;
        // transform: translate(-50%, -62%);
        .data-proteccion {
            bottom: -62px;
            a {
                padding: 7px 15px;
            }
        }
    }
}


