<form class="reset">
    <div class="reset-header">
        <mat-icon (click)="toggleReset()">arrow_back</mat-icon>
        <h2>Passwort<br *ngIf="shouldWordBreak"> zurücksetzen</h2>
    </div>
    <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
    <div class="input-container">
        <input type="email" #email placeholder="beispielname@email.com" maxlength="25">
        <mat-icon>mail_outline</mat-icon>
        <p *ngIf="isEmailInvalid">Diese E-Mail-Adresse ist leider ungültig.</p>
    </div>
    <p class="info-text">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>
    <button (click)="sendResetMail()" class="send-mail-btn" type="submit">E-Mail senden</button>
    
    <div class="data-proteccion">
        <a (click)="openImprint.emit()">Impressum</a>
        <a (click)="openPrivacy.emit()">Datenschutz</a>
    </div>

    <div class="confirm-container" #confirmationContainer>
        <div class="confirm-text">
            {{ confirmationMessage }}
        </div>
    </div>
</form>

