<div class="imprint">
    <div class="imprint-header">
        <mat-icon (click)="goBack.emit()">arrow_back</mat-icon>
        <h2>Impressum</h2>
    </div>
    <div class="imprint-main">
        <p>
            <strong>Information according to § 5 TMG</strong>
        </p>
        <p>Denise Siegl <br>
            Calle César Puget Riquer 24 G3<br>
            07840 Santa Eulalia del Río <br>
        </p>
    </div>
    <h2>Kontakt:</h2>
    <div class="imprint-main">
        <p>Email: denisabel78.hotmail.de</p>
    </div>
    <p class="link">Impressum wurde erstellt mit 
        <a href="https://www.impressum-generator.de">impressum-generator.de</a> 
        <br>von der <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Kanzlei Hasselbach</a>
    </p>
</div>
