
<div class="threadContainerQuestion" *ngIf="messageFullyLoaded">
    <div class="profile-message-img">
        <img class="profilPic" [src]="userImg.startsWith('https') ? userImg : './assets/img/' + userImg" alt="">
        <p class="active-point" *ngIf="isOnline"></p>
    </div>
    <div class="threadContainerQuestionContainer">
        <div class="reactionContainer">
            <div class="reactionMenu">
                        <div *ngIf="isEmojiOpen" class="emoji-selection">
                            <emoji-mart class="emoji-mart" 
                            [style]="{ width: '240px', cursor: 'default' }"
                            (emojiSelect)="handleReactionMessage($event, loadedMessage)" 
                            color=#535AF1 
                            set="apple"
                            [enableSearch]="false" 
                            [showPreview]="false" 
                            title="Choose your emoji">
                            </emoji-mart>
                        </div>
            </div>
        </div>
        <div class="threadContainerQuestionInfo">
            <div class="threadContainerInfoPerson">{{username}}</div>
            <div class="threadContainerInfoTime">{{loadedMessage.timestamp}} Uhr</div>
        </div>
        <div class="threadContainerTextLeft">
            {{loadedMessage.messagetext}}
        </div>
        <div class="threadContainerTextReactions">
            <div class="threadContainerTextReactionsAllEmojis">
                <div class="threadContainerTextReactionsEmojis" *ngFor="let answer of loadedMessage.react">
                    <div class="reactionsInfoContainer">
                        <div>{{answer.emoji}}</div>
                        <div class="reactionsInfoContainerUsers" *ngFor="let user of answer.user; let i = index">
                            <div>{{user}}</div>
                            <div *ngIf="i < (answer.user.length - 1)"> &</div>
                        </div>
                        <span>hat reagiert</span>
                    </div>
                    <div>{{answer.emoji}}</div>
                    <div class="threadContainerTextReactionsAmount">{{answer.user.length}}</div>
                </div>   
            </div>                             
            <div class="emoji-con">
                <img (click)="toggleEmojiMessage()" src="./assets/img/add_reaction.png" alt="">                
            </div>
        </div>
    </div>
</div>