.fade-in-animation {
    animation: showLoginContainer 1500ms ease-in-out 1000ms forwards;
}

@keyframes showLoginContainer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}